:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}

body {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  background-color: #3c3d3e;
  /*display: flex;*/
  width: 100vw;
  height: 100vw;
  justify-content: center;
  align-items: center;
}

body.correct {
  --hue: var(--hue-correct);
}

body.wrong {
  --hue: var(--hue-wrong);
}

.question-one {
  width: 800px;
  max-width: 90%;
  background-color: #1cc894;
  border-radius: 5px;
  padding: 10px;
  margin: 8px;
  border: solid 1px black;
  box-shadow: 0 0 10px 3px;
  color: whitesmoke;
  display: grid;
}
.question-two {
  width: 800px;
  max-width: 90%;
  background-color: #1cc894;
  border-radius: 5px;
  padding: 10px;
  margin: 8px;
  border: solid 1px black;
  box-shadow: 0 0 10px 3px;
  color: whitesmoke;
  display: grid;
}
.question-three {
  width: 800px;
  max-width: 90%;
  background-color: #1cc894;
  border-radius: 5px;
  padding: 10px;
  margin: 8px;
  border: solid 1px black;
  box-shadow: 0 0 10px 3px;
  color: whitesmoke;
  display: grid;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  --hue: var(--hue-neutral);
  border: 1px solid;
  background: linear-gradient(90deg, #6555c4 0%, #1c9bd6 102.84%);
  background-color: ;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  border-color: black;
}

.start-btn,
.next-btn {
  font-size: 1.1rem;
  font-weight: bold;
  padding: 6px 20px;
  cursor: pointer;
}

.controls {
  display: flex;
  justify-content: space-around;
}

/* .hide {
    display: none;
}  if activated, only the start button will show, to start the quiz, but obvisly must be 
programmed with js */
