:root {
  --main-color: #A5BACD; /*silver*/
  --silver-blue: #88A6CA;
  --snd-color: #433F40; /*purpleish*/
  --frth-color-whitish:#F7F8FA;
  --dark-blue: #1C477A;
}
* {
  font-size: 10px;
  font-family: 'patrick-hand'; /* funktioniert nur hier... */
}
/*hier sollen alle texte responsive gemacht werden*/

body {
  padding: 0;
  margin: 0;
  background-color: var(--frth-color-whitish);
  width: 100vw;
  height: 100vw;
}

