header {
  background: linear-gradient(var(--silver-blue), var(--dark-blue));
  margin: 30px; /*für den Abstand zum nächsten element*/
  padding: 0px;
  height: 65px;
  width: 93, 5%;
  max-width: 95%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px black;
  box-shadow: 0 0 20px 8px var(--dark-blue);
}

h1 {
  font-size: xx-large;
  color: var(--frth-color-whitish);
  /*font-family: "patrick-hand", cursive; funktioniert nur kursiv...*/
  text-decoration: overline, underline; /*warum funkt. es nicht?*/
}
