header {
  background-color: #399def;
  margin: 30px; /*für den Abstand zum nächsten element*/
  padding: 0px;
  height: 65px;
  width: 93, 5%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px black;
  box-shadow: 0 0 10px 3px;
  color: whitesmoke;
}

h1 {
  font-size: xx-large;
  /* display: flex;
  justify-content: center;*/
  color: whitesmoke;
  /*font-family: "patrick-hand", cursive; funktioniert nur kursiv...*/
  text-decoration: overline, underline; /*warum funkt. es nicht?*/
}
