/* Add a background color to the top navigation */
.bottom__nav {
  position: fixed;
  bottom: 0;
  background-color: var(--frth-color-whitish);
  border: solid 1px rgb(41, 40, 40);
  width: 100%;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  color: var( --dark-blue);
  display: flex;
  background-color: var(--main-color);
  align-items: center;
   justify-content: space-evenly;
  padding: 8px 18px;
  height: 25px;
  font-size: 15px;
  border-radius: 5px;
  margin: 3px;
}

/* Change the color of links on hover */
.navbar a:hover {
  background: linear-gradient(var(--silver-blue), var(--dark-blue));
  color: var(--frth-color-whitish);
}

/* Add a color to the active/current link */
/* NOT WORKING CUZ OF JS SINGLEPAGE!!! */


.navbar a.active {
  background: linear-gradient(var(--dark-blue), var(--silver-blue));
  color: var(--frth-color-whitish);
}
